html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.main_wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 0 10%;
  margin-top: 55px;
}


footer {
  margin-top: 25px;
  background-color: #27313D;
  border-top: 1px solid #F2F2F2;
}

footer .wrap {
  color: #fff;
  margin: 0 10%;
  min-height: 100px;
  margin-top: 20px;
  padding: 15px 0;
}


.page {
  display: flex;
  min-height: 100vh;
}

/* Фиксируем позицию body, которую меняет панель гугла*/
.page_fix {
  top: 0 !important;
  position: static !important;
}

/* Прячем панель гугла */
.skiptranslate {
  display: none !important;
}

/* content */
.content {
  margin: 10px;
  margin: auto;
}

.product_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_item {
  padding: 20px;
  margin: 15px 0;
  border: 1px solid #ccc;
}

.product_item:hover {
  border-color: rgb(70, 70, 70);
}

.add_btn {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.user_field {
  display: block;
  margin: 15px 0;
}


/* language */
.language {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.language__img {
  border: 3px solid #ccc;
  width: 39px;
  margin: 5px;
  cursor: pointer;
  opacity: .5;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 4px;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}